@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

:root {
  --background-color: #f5f5f5;
  --dark-grey: #4e4e4e;
  --grey: #9f9f9f;
  --light-grey: #c4c4c4;
  --black: #000000;
  --white: #ffffff;
}

.dark_mode {
  --background-color: #1e1e1e;
  --dark-grey: #d1d1d1;
  --grey: #a9a9a9;
  --light-grey: #6e6e6e;
  --black: #ffffff;
  --white: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  color: var(--black);
  background-color: var(--background-color);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--black);
}

input,
select,
textarea {
  padding: 0.25rem;
  font-size: 1.15rem;
  border: 2px solid var(--dark-grey);
  background-color: var(--white);
  color: var(--black);
}

textarea {
  resize: none;
  display: block;
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--grey);
}

section {
  width: 100%;
}

nav,
footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  padding-bottom: 1.75rem;
}

footer {
  width: 100%;
  border-top: 2px solid var(--black);
  font-size: 0.75rem;
}

nav ul,
footer ul {
  margin-left: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 12px;
}

footer ul li {
  font-size: 1.5rem;
}

nav button:hover {
  text-decoration: underline;
}

.logo {
  width: 30px;
  height: auto;
}

.nav_links_container a {
  text-decoration: none;
}

.copyright_container p {
  margin-left: 1rem;
}

.horizontal_border {
  color: var(--black);
  width: 85%;
  margin: 0 auto;
}

.section_breaker {
  height: 100px;
  width: 100%;
}

/* text */
.section_title {
  font-size: 2.25rem;
  font-weight: 500;
  width: 85%;
  margin: 0 auto;
}

.x_large_text {
  font-size: 3rem;
  font-weight: 500;
  color: var(--black);
}

.large_text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--black);
}

.medium_text {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--black);
}

.small_text {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--black);
}

/* hero */
.hero_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero_text {
  color: var(--dark-grey);
  width: 60%;
  margin-right: -100px;
}

.hero_image {
  width: 50%;
  height: auto;
  z-index: -1;
}

/* section 1 */
.projects_container {
  align-items: center;
  justify-content: space-between;
}

.project {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.project a {
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.project_image {
  aspect-ratio: 1.5;
  object-fit: cover;
  border-radius: 12px;
}

.projects_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

/* section 2 */
.about_me_container {
  width: 85%;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about_me_description,
.services_container {
  width: 50%;
}

.about_me_description {
  padding-right: 1.5rem;
}

.services_container {
  padding-left: 1.5rem;
}

.service_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services_container p,
.services_horizontal_border {
  margin-bottom: 0.5rem;
}

.service_description {
  display: none;
}

.services_horizontal_border {
  width: 100%;
  height: 3px;
  background-color: var(--black);
}

.skill_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill_container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.skill_container ul li {
  padding: 0 2.5rem;
  border-right: 1px solid var(--black);
}

.skill_container ul li:last-child {
  border: none;
}

/* section 3 */
.quotes_container {
  width: 85%;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote {
  text-align: center;
  padding: 3rem;
  width: 80%;
}

.quote_button {
  width: 10%;
  aspect-ratio: 1;
  max-width: 50px;
  font-size: 1rem;
  border: 2px solid var(--black);
  border-radius: 50%;
  overflow: hidden;
}

/* section 4 */
.contact_container {
  width: 85%;
  margin: 3rem auto;
  display: flex;
}

.contact_description,
.contact_form {
  width: 50%;
}

.contact_description {
  padding-right: 1.5rem;
}

.contact_form label {
  font-size: 1.15rem;
  display: inline-block;
  margin: 0.75rem 0;
}

.contact_form textarea {
  width: 100%;
}

.contact_form button {
  border: 2px solid var(--dark-grey);
  font-size: 1.15rem;
  margin-top: 0.75rem;
  padding: 0.25rem 1.5rem;
}

.field_group_container {
  display: flex;
  flex-wrap: wrap;
}

.field_group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.field_group input,
.field_group select {
  width: 95%;
}

/* section 5 */
#section_five,
#section_six {
  text-align: center;
  padding: 2.5rem 0;
}

.blog_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.blog {
  padding: 2rem;
  text-align: left;
}

.blog p {
  margin: 1rem 0;
}

.mid_blog {
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
}

/*section 6*/
.separator {
  width: 100%;
  height: 10px;
}

.newsletter_container {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.newsletter_form {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.newsletter_form input {
  width: 85%;
}

.newsletter_form button {
  background-color: var(--dark-grey);
  color: var(--white);
  box-sizing: content-box;
  padding: 0 1.25rem;
}

/* scroll up button */
#scroll_up_btn {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--black);
  border-radius: 50%;
  background-color: var(--background-color);
}

/* submission page */
#submission_section {
  padding: 2.5rem 0;
}

#submission_footer {
  position: fixed;
  bottom: 0;
}

.submission_description {
  width: 85%;
  margin: 0 auto;
  padding: 4rem 0;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .section_breaker {
    height: 50px;
  }

  .hero_container {
    flex-direction: column;
    text-align: center;
  }

  .hero_text {
    width: 100%;
    margin-right: 0;
  }

  .hero_image {
    width: 100%;
    margin-top: 1rem;
  }

  .projects_container {
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .about_me_container {
    flex-direction: column;
  }

  .about_me_description,
  .services_container {
    width: 100%;
    padding: 0;
  }

  .skill_container {
    display: none;
  }

  .quotes_container {
    flex-direction: column;
  }

  .quote {
    width: 100%;
    padding: 2rem;
  }

  .quote_button {
    display: none;
  }

  .contact_container {
    flex-direction: column;
  }

  .contact_description,
  .contact_form {
    width: 100%;
    padding: 0;
  }

  .blog_container {
    flex-direction: column;
  }

  .mid_blog {
    border: none;
  }

  .newsletter_container {
    width: 100%;
  }

  .newsletter_form {
    justify-content: center;
  }

  .newsletter_form input {
    width: 50%;
  }

  .newsletter_form button {
    width: 5%;
  }

  #scroll_up_btn {
    width: 25px;
    height: 25px;
    bottom: 65px;
    right: 20px;
  }
}
