@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

:root {
  --background-color: #f5f5f5;
  --dark-grey: #4e4e4e;
  --grey: #9f9f9f;
  --light-grey: #c4c4c4;
  --black: #000000;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--background-color);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input,
select,
textarea {
  padding: 0.25rem;
  font-size: 1.15rem;
  border: 2px solid var(--dark-grey);
  background-color: var(--white);
}

textarea {
  resize: none;
  display: block;
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--grey);
}

section {
  width: 100%;
}

nav,
footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  padding-bottom: 1.75rem;
}

footer {
  width: 100%;
  border-top: 2px solid var(--black);
  font-size: 0.75rem;
}

nav ul,
footer ul {
  margin-left: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
  height: auto;
}

.nav_links_container a {
  text-decoration: none;
}

.copyright_container p {
  margin-left: 1rem;
}

/* text */
.section_title {
  font-size: 2.25rem;
  font-weight: 500;
  width: 85%;
  margin: 0 auto;
}

.x_large_text {
  font-size: 3rem;
}

.large_text {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.medium_text {
  font-size: 1.15rem;
}
.small_text {
  font-size: 0.75rem;
}

/* section 3 */
.about_me_container {
  width: 85%;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about_me_description,
.services_container {
  width: 50%;
}

.about_me_description {
  padding-right: 1.5rem;
}

.services_container {
  padding-left: 1.5rem;
}

.services_container p,
.services_horizontal_border {
  margin-bottom: 0.4rem;
}

.services_horizontal_border {
  width: 100%;
  height: 3px;
  background-color: var(--black);
}

.skill_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill_container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  list-style: disc;
}

/* section 4 */
.quotes_container {
  width: 85%;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote {
  text-align: center;
  padding: 3rem;
  width: 80%;
}

.quote_button {
  width: 10%;
  aspect-ratio: 1;
  max-width: 50px;
  font-size: 1rem;
  border: 2px solid var(--black);
  border-radius: 50%;
  overflow: hidden;
}

/* section 5 */
.contact_container {
  width: 85%;
  margin: 3rem auto;
  display: flex;
}

.contact_description,
.contact_form {
  width: 50%;
}

.contact_description {
  padding-right: 1.5rem;
}

.contact_form label {
  font-size: 1.15rem;
  display: inline-block;
  margin: 0.75rem 0;
}

.contact_form textarea {
  width: 100%;
}

.contact_form button {
  border: 2px solid var(--dark-grey);
  font-size: 1.15rem;
  margin-top: 0.75rem;
  padding: 0.25rem 1.5rem;
}

.field_group_container {
  display: flex;
  flex-wrap: wrap;
}

.field_group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.field_group input,
.field_group select {
  width: 95%;
}

/* section 6 */
#section_six,
#section_seven {
  text-align: center;
  padding: 2.5rem 0;
}

.blog_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.blog {
  padding: 2rem;
  text-align: left;
}

.blog p {
  margin: 1rem 0;
}

.mid_blog {
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
}

/*section 7*/
.separator {
  width: 100%;
  height: 10px;
}

.newsletter_container {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.newsletter_form {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.newsletter_form input {
  width: 85%;
}

.newsletter_form button {
  background-color: var(--dark-grey);
  color: var(--white);
  box-sizing: content-box;
  padding: 0 1.25rem;
}
